header {
	position: fixed;
	top: 0;
	z-index: 1;

	width: 100%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #414A4C;
}

nav {
	max-width: 70vw;
	height: 50px;
	margin: 0 auto;
}